<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SuiteTwo</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ba99da">  <td>16/12/06 18:27:01</td>   <td>0</td> <td title="&gt;&gt;SuiteTwoBase.checkSuiteToRun()[pri:0, instance:com.stta.SuiteTwo.SuiteTwoCaseTwo@45c8e616]">&gt;&gt;checkSuiteToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2101440631</td>   <td></td> </tr>
<tr bgcolor="a4a98b">  <td>16/12/06 18:27:01</td>   <td>31</td> <td>&nbsp;</td><td title="&gt;&gt;SuiteTwoCaseOne.checkCaseToRun()[pri:0, instance:com.stta.SuiteTwo.SuiteTwoCaseOne@47f37ef1]">&gt;&gt;checkCaseToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2101440631</td>   <td></td> </tr>
<tr bgcolor="a4a98b">  <td>16/12/06 18:27:01</td>   <td>45</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteTwoCaseOne.SuiteTwoCaseOneTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteTwo.SuiteTwoCaseOne@47f37ef1]">SuiteTwoCaseOneTest</td> 
  <td>main@2101440631</td>   <td></td> </tr>
<tr bgcolor="a4a98b">  <td>16/12/06 18:27:09</td>   <td>8614</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteTwoCaseOne.reporterDataResults()[pri:0, instance:com.stta.SuiteTwo.SuiteTwoCaseOne@47f37ef1]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2101440631</td>   <td></td> </tr>
<tr bgcolor="a4a98b">  <td>16/12/06 18:27:09</td>   <td>8623</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteTwoCaseOne.SuiteTwoCaseOneTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteTwo.SuiteTwoCaseOne@47f37ef1]">SuiteTwoCaseOneTest</td> 
  <td>main@2101440631</td>   <td></td> </tr>
<tr bgcolor="a4a98b">  <td>16/12/06 18:27:11</td>   <td>10644</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteTwoCaseOne.reporterDataResults()[pri:0, instance:com.stta.SuiteTwo.SuiteTwoCaseOne@47f37ef1]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2101440631</td>   <td></td> </tr>
<tr bgcolor="a4a98b">  <td>16/12/06 18:27:11</td>   <td>10656</td> <td>&nbsp;</td><td title="&lt;&lt;SuiteTwoCaseOne.closeBrowser()[pri:0, instance:com.stta.SuiteTwo.SuiteTwoCaseOne@47f37ef1]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2101440631</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>16/12/06 18:27:13</td>   <td>12759</td> <td>&nbsp;</td><td title="&gt;&gt;SuiteTwoCaseTwo.checkCaseToRun()[pri:0, instance:com.stta.SuiteTwo.SuiteTwoCaseTwo@45c8e616]">&gt;&gt;checkCaseToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2101440631</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>16/12/06 18:27:13</td>   <td>12774</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteTwoCaseTwo.SuiteTwoCaseTwoTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteTwo.SuiteTwoCaseTwo@45c8e616]">SuiteTwoCaseTwoTest</td> 
  <td>main@2101440631</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>16/12/06 18:27:22</td>   <td>21339</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteTwoCaseTwo.reporterDataResults()[pri:0, instance:com.stta.SuiteTwo.SuiteTwoCaseTwo@45c8e616]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2101440631</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>16/12/06 18:27:22</td>   <td>21346</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteTwoCaseTwo.SuiteTwoCaseTwoTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteTwo.SuiteTwoCaseTwo@45c8e616]">SuiteTwoCaseTwoTest</td> 
  <td>main@2101440631</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>16/12/06 18:27:24</td>   <td>23329</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteTwoCaseTwo.reporterDataResults()[pri:0, instance:com.stta.SuiteTwo.SuiteTwoCaseTwo@45c8e616]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2101440631</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>16/12/06 18:27:24</td>   <td>23334</td> <td>&nbsp;</td><td title="&lt;&lt;SuiteTwoCaseTwo.closeBrowser()[pri:0, instance:com.stta.SuiteTwo.SuiteTwoCaseTwo@45c8e616]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2101440631</td>   <td></td> </tr>
</table>
