<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SuiteOne</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b8d87">  <td>16/12/06 18:26:32</td>   <td>0</td> <td title="&gt;&gt;SuiteOneBase.checkSuiteToRun()[pri:0, instance:com.stta.SuiteOne.SuiteOneCaseTwo@2a18f23c]">&gt;&gt;checkSuiteToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2101440631</td>   <td></td> </tr>
<tr bgcolor="acee67">  <td>16/12/06 18:26:32</td>   <td>335</td> <td>&nbsp;</td><td title="&gt;&gt;SuiteOneCaseOne.checkCaseToRun()[pri:0, instance:com.stta.SuiteOne.SuiteOneCaseOne@1ae369b7]">&gt;&gt;checkCaseToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2101440631</td>   <td></td> </tr>
<tr bgcolor="acee67">  <td>16/12/06 18:26:32</td>   <td>401</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteOneCaseOne.SuiteOneCaseOneTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteOne.SuiteOneCaseOne@1ae369b7]">SuiteOneCaseOneTest</td> 
  <td>main@2101440631</td>   <td></td> </tr>
<tr bgcolor="acee67">  <td>16/12/06 18:26:43</td>   <td>10719</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteOneCaseOne.reporterDataResults()[pri:0, instance:com.stta.SuiteOne.SuiteOneCaseOne@1ae369b7]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2101440631</td>   <td></td> </tr>
<tr bgcolor="acee67">  <td>16/12/06 18:26:43</td>   <td>11077</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteOneCaseOne.SuiteOneCaseOneTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteOne.SuiteOneCaseOne@1ae369b7]">SuiteOneCaseOneTest</td> 
  <td>main@2101440631</td>   <td></td> </tr>
<tr bgcolor="acee67">  <td>16/12/06 18:26:45</td>   <td>13102</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteOneCaseOne.reporterDataResults()[pri:0, instance:com.stta.SuiteOne.SuiteOneCaseOne@1ae369b7]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2101440631</td>   <td></td> </tr>
<tr bgcolor="acee67">  <td>16/12/06 18:26:45</td>   <td>13114</td> <td>&nbsp;</td><td title="&lt;&lt;SuiteOneCaseOne.closeBrowser()[pri:0, instance:com.stta.SuiteOne.SuiteOneCaseOne@1ae369b7]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2101440631</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/12/06 18:26:47</td>   <td>15240</td> <td>&nbsp;</td><td title="&gt;&gt;SuiteOneCaseTwo.checkCaseToRun()[pri:0, instance:com.stta.SuiteOne.SuiteOneCaseTwo@2a18f23c]">&gt;&gt;checkCaseToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2101440631</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/12/06 18:26:47</td>   <td>15259</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteOneCaseTwo.SuiteOneCaseTwoTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteOne.SuiteOneCaseTwo@2a18f23c]">SuiteOneCaseTwoTest</td> 
  <td>main@2101440631</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/12/06 18:26:56</td>   <td>24427</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteOneCaseTwo.reporterDataResults()[pri:0, instance:com.stta.SuiteOne.SuiteOneCaseTwo@2a18f23c]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2101440631</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/12/06 18:26:56</td>   <td>24434</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteOneCaseTwo.SuiteOneCaseTwoTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteOne.SuiteOneCaseTwo@2a18f23c]">SuiteOneCaseTwoTest</td> 
  <td>main@2101440631</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/12/06 18:26:58</td>   <td>26494</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteOneCaseTwo.reporterDataResults()[pri:0, instance:com.stta.SuiteOne.SuiteOneCaseTwo@2a18f23c]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2101440631</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/12/06 18:26:58</td>   <td>26505</td> <td>&nbsp;</td><td title="&lt;&lt;SuiteOneCaseTwo.closeBrowser()[pri:0, instance:com.stta.SuiteOne.SuiteOneCaseTwo@2a18f23c]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2101440631</td>   <td></td> </tr>
</table>
